body {
  margin: 0;
  font-family: Arial;
  background: #0f0f0f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.login-box {
  background: #1a1a1a;
  padding: 30px;
  border-radius: 12px;
  width: 260px;
  text-align: center;
  box-shadow: 0 0 20px rgba(255,255,255,0.1);
  animation: fade 1s;
}

@keyframes fade {
  from { opacity: 0; transform: translateY(20px);}
  to { opacity: 1; transform: translateY(0);}
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background: #111;
  border: 1px solid #333;
  color: white;
  border-radius: 5px;
}

.password-box {
  position: relative;
}

.password-box span {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background: white;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.login-box button:hover {
  background: #ddd;
}